<div class="">
  <div>
    <h2 class="bg-info p-4 mb-0 text-white">Head</h2>
  </div>
  <div class="card rounded-0 border-0">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-md-4 text-info">
          <h3>Bag Status</h3>
        </div>
        <div class="col-md-8">
          <h5 class="text-md-right">Hello Jane, welcome to Chicago.</h5>
        </div>
      </div>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 mt-3 p-0">
          <li class="breadcrumb-item">DEN</li>
          <li class="breadcrumb-item">ORD</li>
        </ol>
      </nav>
    </div>
    <div class="card-body">
      <p class="card-text font-weight-bold">We are sorry, your bag(s) are delayed and will arrive on a later flight.</p>
      <div class="card left-red-border mb-2">
        <div class="card-body d-flex align-items-center p-0">
          <div class="p-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-briefcase-fill"
              viewBox="0 0 16 16">
              <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
              <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
            </svg>
          </div>
          <div>
            <div class="text-muted">
              #610133763
            </div>
            <h4>
              Delayed
            </h4>
          </div>
        </div>
      </div>

      <p class="card-text font-weight-bold">We want to make sure you get your bag(s) as soon as possible. What would you like to do?</p>

      <div class="row">

        <div class="col-md text-md-right text-center">
          <a href="#" class="btn btn-primary">Arrange for deliver</a>
        </div>
        <div class="col-md text-md-left text-center">
          <a href="#" class="btn btn-link text-primary text-underline"><u>Speak to an agent</u></a>
        </div>
      </div>
      <p class="card-text mt-2">If you see additional assistant please see a representative</p>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->